<footer class="mpl-footer mpl-footer-social">
    <div class="mpl-image">
        <img src="images/footer.png" alt="">
    </div>
    <div class="mpl-footer-wrapper">
        <div class="mpl-footer-container container">
            <div class="mpl-footer-content">
                <div class="row vgap" data-sr="footer" data-sr-interval="120" data-sr-duration="1200" data-sr-distance="20">
                    <div class="col-6 col-sm-4" data-sr-item="footer">
                        <a href="{{ site.link_linkedin }}" class="mpl-social">
                            <span class="mpl-social-icon">
                               <i class="fab fa-linkedin"></i>
                            </span>
                            <span class="mpl-social-name h5">Linkedin</span>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4" data-sr-item="footer">
                        <a href="{{ site.link_gitlab }}" class="mpl-social">
                            <span class="mpl-social-icon">
                                <i class="fab fa-gitlab"></i>
                            </span>
                            <span class="mpl-social-name h5">Gitlab</span>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4" data-sr-item="footer">
                        <a href="{{ site.link_github }}" class="mpl-social">
                            <span class="mpl-social-icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span class="mpl-social-name h5">Github</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>