<div class="mpl-box-md bg-light">
    <div class="container">
        <h2 class="display-2 text-center" data-sr data-sr-duration="1200" data-sr-distance="20">Contact Me</h2>
        <form action="#">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="row vgap" data-sr="contact" data-sr-interval="100" data-sr-duration="1200" data-sr-distance="20">
                        <div class="col-12" data-sr-item="contact">
                            <textarea class="form-control" rows="5" id="contact_message" name="contact_message" placeholder="Write Message" required></textarea>
                        </div>
                        <div class="col-12 col-md-6" data-sr-item="contact">
                            <input class="form-control" type="text" id="contact_name" name="contact_name" placeholder="Your Name" required><span class="form-control-bg"></span>
                        </div>
                        <div class="col-12 col-md-6" data-sr-item="contact">
                            <input class="form-control" type="email" id="contact_email" name="contact_email" placeholder="Your Email" required><span class="form-control-bg"></span>
                        </div>
                        <div class="col-12" data-sr-item="contact">
                            <button type="submit" class="btn btn-md btn-block">Submit Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>