<!-- START: Scripts -->
<!-- Object Fit Polyfill -->
<script type="text/javascript" src="vendor/object-fit-images/dist/ofi.min.js"></script>
<!-- Popper -->
<script type="text/javascript" src="vendor/popper.js/dist/umd/popper.min.js"></script>
<!-- ScrollReveal -->
<script type="text/javascript" src="vendor/scrollreveal/dist/scrollreveal.min.js"></script>
<!-- Animejs -->
<script type="text/javascript" src="vendor/animejs/lib/anime.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Jarallax -->
<script type="text/javascript" src="vendor/jarallax/dist/jarallax.min.js"></script>
<!-- Swiper -->
<script type="text/javascript" src="vendor/swiper/js/swiper.min.js"></script>
<!-- Fancybox -->
<script type="text/javascript" src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<!-- jQuery Countdown -->
<script type="text/javascript" src="vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<!-- Moment.js -->
<script type="text/javascript" src="vendor/moment/min/moment.min.js"></script>
<script type="text/javascript" src="vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<!-- Revolution Slider -->
<script type="text/javascript" src="vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- ImagesLoaded -->
<script type="text/javascript" src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>
<!-- Ion Range Slider -->
<script type="text/javascript" src="vendor/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<!-- Bootstrap TouchSpin -->
<script type="text/javascript" src="vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<!-- Bootstrap Validator -->
<script type="text/javascript" src="vendor/bootstrap-validator/dist/validator.min.js"></script>
<!-- MonsterPlay -->
<script type="text/javascript" src="js/monsterplay.min.js"></script>
<script type="text/javascript" src="js/monsterplay-init.js"></script>
<!-- END: Scripts -->