<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.title }}</title>
        <meta name="description" content="Vito Verrastro - Creative Software Engineer in Artificial Intelligence, Machine Learning, Digital Payments">
        <meta name="keywords" content="vito verrastro, verrastro, software development, digital, websites, siti internet, intelligenza artificiale">
        <meta name="author" content="Vito Verrastro">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- START: Styles -->
        <!-- Adobe Fonts -->
        <link rel="stylesheet" type="text/css" href="https://use.typekit.net/vgd1cli.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
        <!-- Swiper -->
        <link rel="stylesheet" type="text/css" href="vendor/swiper/css/swiper.min.css" />
        <!-- Fancybox -->
        <link rel="stylesheet" type="text/css" href="vendor/fancybox/dist/jquery.fancybox.min.css" />
        <!-- Revolution Slider -->
        <link rel="stylesheet" type="text/css" href="vendor/slider-revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="vendor/slider-revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="vendor/slider-revolution/css/navigation.css">
        <!-- MonsterPlay -->
        <link rel="stylesheet" type="text/css" href="css/monsterplay-gamer.css">
        <!-- RTL (uncomment this to enable RTL support) -->
        <!-- <link rel="stylesheet" type="text/css" href="css/monsterplay-rtl.min.css" /> -->
        <!-- Custom Styles -->
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link rel="stylesheet" type="text/css" href="css/all.min.css">
        <!-- END: Styles -->
        <!-- jQuery -->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <!-- Preloader -->
        <script type="text/javascript" src="js/preloader.min.js"></script>
    </head>
    <body>
        <!-- Preloader -->
        <div class="mpl-preloader">
            <div class="mpl-preloader-content">
                <div class="mpl-preloader-title display-1 h1">{{ site.loading_message }}</div>
                <div class="mpl-preloader-progress">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="mpl-preloader-bg"></div>
        <!-- /Preloader -->
        <!-- Navbar -->
        <nav class="mpl-navbar-top mpl-navbar">
            <div class="mpl-navbar-mobile-overlay"></div>
            <div class="container mpl-navbar-container">
                <a href="#" class="mpl-navbar-toggle"></a>
                <div class="mpl-navbar-brand">
                    <a href="index.html">
                        <img src="images/logo-gamer.svg" alt="">
                    </a>
                </div>
                <div class="mpl-navbar-content">
                    <ul class="mpl-navbar-nav">
                        <li class="mpl-dropdown active">
                            <a href="index.html" class="mpl-nav-link" role="button">
                                <span class="mpl-nav-link-name"> home </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="mpl-navbar-nav mpl-navbar-right">
                        <li>
                            <a href="{{ site.link_linkedin }}" class="mpl-nav-link">
                                <span class="icon icon-fill" fill="currentColor">
                                   <i class="fab fa-linkedin"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.link_gitlab }}" class="mpl-nav-link">
                                <span class="icon icon-fill" fill="currentColor">
                                    <i class="fab fa-gitlab"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.link_github }}" class="mpl-nav-link">
                                <span class="icon icon-fill" fill="currentColor">
                                    <i class="fab fa-github"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /Navbar -->
        <!-- Navbar Mobile -->
        <nav class="mpl-navbar mpl-navbar-mobile">
            <div class="mpl-navbar-container">
                <div class="mpl-navbar-head">
                    <a href="index.html" class="mpl-navbar-brand">
                        <img src="images/logo-gamer.svg" alt="">
                    </a>
                    <a href="#" class="mpl-navbar-toggle">
                        <span></span><span></span><span></span><span></span>
                    </a>
                </div>
                <div class="mpl-navbar-body">
                    <ul class="mpl-navbar-nav">
                        <li class="active">
                            <a href="index.html" class="mpl-nav-link mpl-nav-link-collapse" role="button">
                                <span class="mpl-nav-link-name">home</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mpl-navbar-footer">
                    <ul class="mpl-navbar-nav">
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /Navbar Mobile -->
        <div class="content-wrap">
            <div class="mpl-navbar-mobile-overlay"></div>
            <div>
                <section class="mpl-banner mpl-banner-top">

                    <div class="mpl-banner-content mpl-box-lg pt-60 pb-60">
                        <div class="container" data-sr="banner" data-sr-interval="120" data-sr-duration="1200" data-sr-distance="20">
                            <div class="row hgap-lg vgap-lg align-items-center justify-content-center">
                                <div class="col-12 col-lg-5">
                                    <div data-sr-item="banner">
                                        <img class="rounded" src="images/avatar.png" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <!--<h1 class="display-2" data-sr-item="banner">{{ site.name }}</h1>-->
                                    <p class="lead" data-sr-item="banner"> {{ content }} </p>
                                    <ul class="mpl-list mpl-list-horizontal list-hgap list-vgap mt-30">
                                        <li data-sr-item="banner">
                                            <a href="{{ site.link_linkedin }}" class="mpl-nav-link">
                                                <span width="28" height="28" class="icon icon-fill" fill="currentColor">
                                                   <i class="fab fa-linkedin"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li data-sr-item="banner">
                                            <a href="{{ site.link_gitlab }}" class="mpl-nav-link">
                                                <span width="28" height="28" class="icon icon-fill" fill="currentColor">
                                                    <i class="fab fa-gitlab"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li data-sr-item="banner">
                                            <a href="{{ site.link_github }}" class="mpl-nav-link">
                                                <span width="28" height="28" class="icon icon-fill" fill="currentColor">
                                                    <i class="fab fa-github"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="mpl-box-md bg-light">
                    <div class="container" data-sr data-sr-duration="1200" data-sr-distance="20">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8">
                                <a class="mpl-gallery mpl-gallery-lg" href="https://www.youtube.com/watch?v=oGlhgVz5r6E" data-fancybox="gallery" data-animation-effect="fade">
                                    <span class="mpl-image">
                                        <img src="images/gamer/thumbnail-1920x1080.jpg" alt="">
                                    </span>
                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 3L19 12L5 21V3Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mpl-box-md">
                    <div class="container">
                        <div class="row hgap-lg vgap-lg">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mpl-number">
                                    <div class="h2 mpl-count">{{ page.value_item_1 }}</div>
                                    <div>{{ page.tab_item_1 }}</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mpl-number">
                                    <div class="h2 mpl-count">{{ page.value_item_2 }}</div>
                                    <div>{{ page.tab_item_2 }}</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mpl-number">
                                    <div class="h2 mpl-count">{{ page.value_item_3 }}</div>
                                    <div>{{ page.tab_item_3 }}</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mpl-number">
                                    <div class="h2 mpl-count">{{ page.value_item_4 }}</div>
                                    <div>{{ page.tab_item_4 }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include form_email.html %}
                <!-- /Footer -->
                {% include footer.html %}
                <!-- /Footer -->
                <!-- /Copyright -->
                {% include copyright.html %}
                <!-- /Copyright -->
            </div>
        </div>

        {% include scripts.html %}

    </body>
</html>